[modules]
autoload=yes
noload = chan_alsa.so
noload = chan_console.so
noload => res_config_pgsql.so
noload => res_config_ldap.so
noload => res_config_sqlite3.so
load => res_odbc.so
load => res_config_odbc.so
load => pbx_ael.so
load => cdr_adaptive_odbc.so
load => chan_pjsip.so
